$dirty-white: #cecfe5;
$green: #7e9673 ;
$dark-blue: #1f2a36;
$font-heading: 'Raleway', sans-serif;
$font: 'Mulish', sans-serif;
$nav-offset: 50px;

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $dark-blue;
	font-family: $font;
	font-size: 16px;
	color: $dirty-white;
}

/****** headings ******/

@for $i from 1 through 6 {
	h#{7 - $i} {
		font: {
			family: $font-heading;
			size: $i * 0.5em;
		}
		text-align: center;
	}
}

/****** nav ******/

.nav-wrapper {
	background-color: $green;
	height: $nav-offset;

	.navbar {
		padding: 10px 0;
		background-color: $green;

		.container-fluid {
			background-color: $green;

			padding: {
				left: 10px;
				right: 10px;
			}

			.navbar-toggler {
				&:focus {
					outline: none;
				}
			}

			.nav-link {
				color: black;
				font-size: 18px;
			}
		}
	}

	.i {
		color: $dark-blue;
	}
}

/****** banner ******/

.container-fluid {
	text-align: center;
}

.banner {
	height: 100vh;
	text-align: center;
	margin: -$nav-offset -15px 0 -15px;

	background: {
		image: url("../images/mobile.png");
		position: center;
		size: cover;
	}

	.about {
		padding: 0 15px;
		h1 {
			margin-bottom: 10px;
			letter-spacing: 3px;
			font-weight: 700;
			color: #eef0ff;
		}

		h3 {
			margin-bottom: 35px;
			color: #7e9673;
		}
	}
}

.scroll-down {
	display: block;
	cursor: pointer;
	width: 200px;
	padding: 20px 0;

	margin: {
		top: -100px;
		bottom: 100px;
		left: auto;
		right: auto;
	}

	text-decoration: none;
	font-size: 20px;
	color: $dirty-white;
	border: 1px solid $dirty-white;

	i {
		margin-left: 3px;
	}

	&:hover {
		color: $dirty-white;
		text-decoration: none;
	}
}

/****** main ******/

.encoder, .decoder {
	min-height: 100vh;
	text-align: left;
	padding: 2% 0;

	h3 {
		text-align: left;
		color: $green;
		border-bottom: 1px solid $green;
		margin-bottom: 25px;
	}

	input, textarea {
		background-color: $dirty-white;
		color: $dark-blue;
	}

	.error {
		color: #ab3e59;
		font-size: 12px;
	}

	.buttons {
		margin: {
			top: 30px;
		}
	}

	.button-primary {
		padding: 10px 40px;
		font-size: 22px;
		letter-spacing: 3px;
		background-color: $green;
		color: $dark-blue;
		border: none;

		&:focus {
			outline: none;
		}
	}

	.scroll-link {
		cursor: pointer;
		text-align: right;
		text-decoration: none;
		font-size: 20px;
		color: $dirty-white;

		i {
			margin: 0 5px;
		}

		&:hover {
			color: $green;
			text-decoration: none;
		}
	}
}

.description {
	min-height: 100vh;
	text-align: left;
	padding: 2% 0;

	h3 {
		text-align: left;
		color: $green;
		border-bottom: 1px solid $green;
		margin-bottom: 25px;
	}

	.green {
		color: $green;
	}
}

/****** footer ******/

footer {
	.container-fluid {
		font-size: 14px;
		background-color: $green;
		color: $dark-blue;
		text-align: center;
		padding: 10px;

		a {
			color: $dark-blue;
			font-weight: bold;

			i {
				margin-right: 5px;
			}
		}
	}
}
