*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f2a36;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: #cecfe5;
}

/****** headings ******/
h6 {
  font-family: "Raleway", sans-serif;
  font-size: 0.5em;
  text-align: center;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-align: center;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  text-align: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  text-align: center;
}

/****** nav ******/
.nav-wrapper {
  background-color: #7e9673;
  height: 50px;
}
.nav-wrapper .navbar {
  padding: 10px 0;
  background-color: #7e9673;
}
.nav-wrapper .navbar .container-fluid {
  background-color: #7e9673;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-wrapper .navbar .container-fluid .navbar-toggler:focus {
  outline: none;
}
.nav-wrapper .navbar .container-fluid .nav-link {
  color: black;
  font-size: 18px;
}
.nav-wrapper .i {
  color: #1f2a36;
}

/****** banner ******/
.container-fluid {
  text-align: center;
}

.banner {
  height: 100vh;
  text-align: center;
  margin: -50px -15px 0 -15px;
  background-image: url("../images/mobile.png");
  background-position: center;
  background-size: cover;
}
.banner .about {
  padding: 0 15px;
}
.banner .about h1 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #eef0ff;
}
.banner .about h3 {
  margin-bottom: 35px;
  color: #7e9673;
}

.scroll-down {
  display: block;
  cursor: pointer;
  width: 200px;
  padding: 20px 0;
  margin-top: -100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 20px;
  color: #cecfe5;
  border: 1px solid #cecfe5;
}
.scroll-down i {
  margin-left: 3px;
}
.scroll-down:hover {
  color: #cecfe5;
  text-decoration: none;
}

/****** main ******/
.encoder, .decoder {
  min-height: 100vh;
  text-align: left;
  padding: 2% 0;
}
.encoder h3, .decoder h3 {
  text-align: left;
  color: #7e9673;
  border-bottom: 1px solid #7e9673;
  margin-bottom: 25px;
}
.encoder input, .encoder textarea, .decoder input, .decoder textarea {
  background-color: #cecfe5;
  color: #1f2a36;
}
.encoder .error, .decoder .error {
  color: #ab3e59;
  font-size: 12px;
}
.encoder .buttons, .decoder .buttons {
  margin-top: 30px;
}
.encoder .button-primary, .decoder .button-primary {
  padding: 10px 40px;
  font-size: 22px;
  letter-spacing: 3px;
  background-color: #7e9673;
  color: #1f2a36;
  border: none;
}
.encoder .button-primary:focus, .decoder .button-primary:focus {
  outline: none;
}
.encoder .scroll-link, .decoder .scroll-link {
  cursor: pointer;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
  color: #cecfe5;
}
.encoder .scroll-link i, .decoder .scroll-link i {
  margin: 0 5px;
}
.encoder .scroll-link:hover, .decoder .scroll-link:hover {
  color: #7e9673;
  text-decoration: none;
}

.description {
  min-height: 100vh;
  text-align: left;
  padding: 2% 0;
}
.description h3 {
  text-align: left;
  color: #7e9673;
  border-bottom: 1px solid #7e9673;
  margin-bottom: 25px;
}
.description .green {
  color: #7e9673;
}

/****** footer ******/
footer .container-fluid {
  font-size: 14px;
  background-color: #7e9673;
  color: #1f2a36;
  text-align: center;
  padding: 10px;
}
footer .container-fluid a {
  color: #1f2a36;
  font-weight: bold;
}
footer .container-fluid a i {
  margin-right: 5px;
}

/*# sourceMappingURL=site.css.map */
