@model CipherApp.Models.VigenereModel

@{
    ViewData["Title"] = "Szyfr Vigenère'a";
}

<h1>Szyfr Vigenère'a</h1>

<div>
    <h2>Encoder</h2>
    <form asp-action="VigenereEncoder" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EncoderPlainText">Input</label>
            <textarea asp-for="EncoderPlainText" class="form-control"></textarea>
            <span asp-validation-for="EncoderPlainText" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EncoderKey">Key</label>
            <input type="text" asp-for="EncoderKey" class="form-control" autocomplete="off">
            <span asp-validation-for="EncoderKey" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EncoderCipherText">Output</label>
            <textarea asp-for="EncoderCipherText" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">ZASZYFRUJ</button>
    </form>
</div>

<div>
    <h2>Decoder</h2>
    <form asp-action="VigenereDecoder" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DecoderCipherText">Input</label>
            <textarea asp-for="DecoderCipherText" class="form-control"></textarea>
            <span asp-validation-for="DecoderCipherText" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DecoderKey">Key</label>
            <input type="text" asp-for="DecoderKey" class="form-control" autocomplete="off">
            <span asp-validation-for="DecoderKey" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DecoderPlainText">Output</label>
            <textarea asp-for="DecoderPlainText" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">ODSZYFRUJ</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

