<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&family=Raleway:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="nav-wrapper">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#encoder">zaszyfruj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#decoder">odszyfruj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#description">opis szyfru</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="container-fluid">
            <div>
                <a href="http://www.algorytm.org/kryptografia/szyfr-vigenere-a.html"><i class="fas fa-link"></i>Informacje o szyfrze Vigenère'a</a>
            </div>
            <a href='https://www.freepik.com/vectors/background'><i class="fas fa-link"></i>Background vector created by starline - www.freepik.com</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
